.language-java {
    color: #A9B7C6;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
    line-height: 1.7;
}

.language-java .token {
    color: #A9B7C6;
}

.language-java .keyword, .language-java .comma, .language-java .semicolon {
    color: #CC7832;
}

.language-java .comment {
    color: #808080;
}

.language-java .punctuation {
    color: #A9B7C6;
}

.language-java .class-name {
}

.language-java .function {
}

.language-java .declaration-function {
    color: #FFC66D;
}

.language-java .annotation {
    color: #d3b837;
}

.language-java .number {
    color: #6897BB;
}

.language-java .string {
    color: #6A8759;
}