.banner-images {
    position: relative;
    width: 20%;
    opacity: 0.8;
    z-index: 0;
}

.java, .kotlin, .intellij {
    position: absolute;
    opacity: 0.0;
}

.java {
    top: -4rem;
    left: -11rem;
    width: 15rem;
    animation: banner-icon-setup 0.3s ease-in-out both, up-down 3.5s ease-in-out infinite;
    animation-delay: 100ms;
}

.kotlin {
    top: -11rem;
    left: 6rem;
    width: 12rem;
    animation: banner-icon-setup 0.3s ease-in-out both, up-down 3.5s ease-in-out infinite;
    animation-delay: 500ms;
}


.intellij {
    top: 7rem;
    left: 8rem;
    width: 15rem;
    animation: banner-icon-setup-intellij 0.3s ease-in-out both, up-down 3.5s ease-in-out infinite;
    animation-delay: 800ms;
}

@keyframes banner-icon-setup {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes banner-icon-setup-intellij {
    0% { opacity: 0; }
    100% { opacity: 0.7; }
}

@keyframes up-down {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

@media only screen and (max-width: 980px) {
    .banner-images {
        width: 35%;
        opacity: 0.3;
        margin-top: -17rem;
    }

    .java, .intellij {
        width: 12rem;
    }

    .kotlin {
        width: 10rem;
    }
}